Question 1

What data type is each of the following (evaluate where necessary)?

In [5]:
type (5)  #integer

int

In [6]:
type (5.0) #float

float

In [7]:
type (5>1) #since the given statement is true, thus, it is boolean

bool

In [8]:
type('5') #string

str

In [13]:
type(5*2) #since the given information is in number format, so, the answer would be in Integer

int

In [14]:
type ('5'+'2') #since the given expression is in string format, so the answer would be in string

str

In [15]:
type (5/2) #the result of the given expression would be 2.5 and it is float

float

In [16]:
type ({5,2,1}) #set

set

In [17]:
type (5==3) #boolean

bool

In [20]:
import math
type (math.pi) #the value of pi is 3.14 which is float

float

Question 2

Write (and evaluate) python expressions that answer these questions:

a. How many letters are there in 'Supercalifragilisticexpialidocious'?

In [21]:
print(len('Supercalifragilisticexpialidocious'))

34

b. Does 'Supercalifragilisticexpialidocious' contain 'ice' as a substring?

In [22]:
print('ice' in 'Supercalifragilisticexpialidocious')

True

c. Which of the following words is the longest:

Supercalifragilisticexpialidocious, Honorificabilitudinitatibus, or Bababadalgharaghtakamminarronnkonn?

In [24]:
words = ["Supercalifragilisticexpialidocious", "Honorificabilitudinitatibus", "Bababadalgharaghtakamminarronnkonn"]

# longest word length
max_length = max(len(word) for word in words)

# all words with the longest length
longest_words = [word for word in words if len(word) == max_length]

print("The longest words are:", longest_words)

The longest words are: ['Supercalifragilisticexpialidocious', 'Bababadalgharaghtakamminarronnkonn']

d. Which composer comes first in the dictionary:'Berlioz', 'Borodin', 'Brian','Bartok', 'Bellini', 'Buxtehude', 'Bernstein'. Which one comes last?

In [25]:
list=['Berlioz', 'Borodin', 'Brian', 'Bartok', 'Bellini', 'Buxtehude', 'Bernstein']
list.sort() #sort array by dictionary
print("First Composer : ",list[0]) #First Composer 
print("Last Composer : ",list[-1]) #Last Composer

First Composer :  Bartok
Last Composer :  Buxtehude

Question 3

Implement function triangleArea(a,b,c) that takes as input the lengths of the 3 sides of a triangle and returns the area of the triangle. By Heron's formula, the area of a triangle with side lengths a, b, and c is sqrt(s(s - a)(s - b)(s - c)) , where s = (a + b + c) /2.

In [26]:
import math
def triangleArea(a,b,c):
    s=(a+b+c)/2
    area=math.sqrt((s*(s-a)*(s-b)*(s-c)))
    print('The Area of Triangle is : ',area)
    
triangleArea(2,2,2)

The Area of Triangle is :  1.7320508075688772

Question 4

Write a program in python to separate odd and even integers in separate arrays.

In [28]:
no=int(input("Enter the Length of Array : ")) # taking Input from the user
list1=[] # Blank  list1 created 
odd=[] # Blank odd list created 
even=[]# Blank even list created 
for i in range(no):
    a=int(input("Enter the Elements of Array : ")) 
    list1.append(a) #store value in list1
    if a%2==0: # condition for even number 
        even.append(a) #append in even list
    else :
        odd.append(a) #append in odd list
print("Original Array : ",end='')
for i in list1:
    print(i,end=' ')
    
print("\n Even Elements of Array : ",end='')
for i in even:
    print(i,end=' ')
    
print("\n Odd Elements of Array : ",end='')
for i in odd:
    print(i,end=' ')

Enter the Length of Array : 5
Enter the Elements of Array : 25
Enter the Elements of Array : 47
Enter the Elements of Array : 42
Enter the Elements of Array : 56
Enter the Elements of Array : 32
Original Array : 25 47 42 56 32
 Even Elements of Array : 42 56 32
 Odd Elements of Array : 25 47

Question 5

a. Write a function inside(x,y,x1,y1,x2,y2) that returns True or False depending on whether the point (x,y) lies in the rectangle with lower left corner (x1,y1) and upper right corner (x2,y2).

>>> inside(1,1,0,0,2,3)
True

>>> inside(-1,-1,0,0,2,3) False

In [29]:
def inside(x,y,x1,y1,x2,y2):
    if ((x-x1)>0 and (x2-x)>0 and (y-y1)>0 and (y2-y)>0): # Condition check for given point inside the rectangle
        print("True")
    else :
        print("False")

inside(1,1,0,0,2,3)
inside(-1,-1,0,0,2,3)

True
False

b. Use function inside() from part a. to write an expression that tests whetherthe point (1,1) lies in both of the following rectangles: one with lower leftcorner (0.3, 0.5) and upper right corner (1.1, 0.7) and the other with lowerleft corner (0.5, 0.2) and upper right corner (1.1, 2)

In [30]:
inside(1,1,0.3,0.5,1.1,0.7)
inside(1,1,0.5,0.2,1.1,2)

False
True

Question 6

You can turn a word into pig-Latin using the following two rules (simplified):• If the word starts with a consonant, move that letter to the end and append'ay'. For example, 'happy' becomes 'appyhay' and 'pencil' becomes 'encilpay'.• If the word starts with a vowel, simply append 'way' to the end of the word.For example, 'enter' becomes 'enterway' and 'other' becomes 'otherway' . Forour purposes, there are 5 vowels: a, e, i, o, u (so we count y as a consonant).Write a function pig() that takes a word (i.e., a string) as input and returns its pig-Latin form. Your function should still work if the input word contains upper casecharacters. Your output should always be lower case however.>>> pig('happy')'appyhay'>>> pig('Enter')'enterway'

In [32]:
vowel=['a','e','i','o','u'] #vowels defined
def pig(word): 
    word=word.lower()
    if word[0].lower() in vowel: #To check if the first letter is vowel or not  
        word=word+'way' # append 'way'
    else:
        a=word[0]
        word=word[1:]+word[0]+'ay' # get the word without first char and append first char and then add 'ay' in the end 
    print(word) 
    
pig('happy')
pig('ENTER')

appyhay
enterway

Question 7

File bloodtype1.txt records blood-types of patients (A, B, AB, O or OO) at a clinic.Write a function bldcount() that reads the file with name name and reports (i.e.,prints) how many patients there are in each bloodtype.>>> bldcount('bloodtype.txt')There are 10 patients of blood type A.There is one patient of blood type B.There are 10 patients of blood type AB.There are 12 patients of blood type O.There are no patients of blood type OO.

In [38]:
infile = open('bloodtype1.txt')
data = infile.read()
infile.close()
wordlist = data.split()

btype=['A','B','AB','O','OO']
for i in btype:
    if wordlist.count(i)==1:
        print("There is 1 patient of Blood type ",i)
    elif wordlist.count(i)==0:
        print("There is no patient of Blood type ",i)
    else :
        print("There are {a} Patients of Blood type  {value}.".format(a=wordlist.count(i),value=i))

There are 15 Patients of Blood type  A.
There is 1 patient of Blood type  B
There are 13 Patients of Blood type  AB.
There are 15 Patients of Blood type  O.
There is no patient of Blood type  OO

Question 8

Write a function curconv() that takes as input:
1. a currency represented using a string (e.g., 'JPY' for the Japanese Yen or
'EUR' for the Euro)
2. an amount
and then converts and returns the amount in US dollars.
>>> curconv('EUR', 100)
122.96544
>>> curconv('JPY', 100)
1.241401

In [40]:
infile = open('currencies.txt')
data=infile.readlines()  
curr_rate={} 

for i in data:
    x=i.split()  
    curr_rate[x[0]]=float(x[1])  
    
def curconv(curr,amt): 
    a=curr_rate.get(curr) 
    final_amount=amt*a
    print(final_amount)

curconv('EUR', 100)
curconv('JPY', 100)

122.96544
1.241401

Question 9

Each of the following will cause an exception (an error). Identify what type of
exception each will cause.

Trying to add incompatible variables, as in
adding 6 + ‘a’

In [41]:
print(6+'a') 
# It would show this as an TypeError because 6 is Integer and 'a' is string and + is concatination operator /addtion; to perform the proper operation, they would need the values of same datatype.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Referring to the 12th item of a list that has only 10
items

In [42]:
list1=[1,2,3,4,5,6,7,8,9,0]
print(list1[12]) 

#This would show the index error because there are only 10 items in the list but we need to refer the 12th item.

IndexError: list index out of range

Using a value that is out of range for a function’s
input, such as calling math.sqrt(-1.0)

In [43]:
import math
print(math.sqrt(-1.0))

#the square root of negative number is not possible, thus, it would show the math domain error (or Value Error).

ValueError: math domain error

Using an undeclared variable, such as print(x)
when x has not been defined

In [44]:
print(x)
#Variable 'x' is not defined anywhere, so, it will show the name error.

['THB', '0.0313789', 'Thai', 'Baht']

Trying to open a file that does not exist, such as
mistyping the file name or looking in the wrong
directory.

In [45]:
infile = open('bloodtype2.txt')
#Since the file is not available in the root directory so, it will show the File Not Found error.
#Filenotfound error bcz neither this file nor directory exsits in the rootdirectory

FileNotFoundError: [Errno 2] No such file or directory: 'bloodtype2.txt'

Question 10

Encryption is the process of hiding the meaning of a text by substituting letters in the
message with other letters, according to some system. If the process is successful, no
one but the intended recipient can understand the encrypted message. Cryptanalysis
refers to attempts to undo the encryption, even if some details of the encryption are
unknown (for example, if an encrypted message has been intercepted). The first step
of cryptanalysis is often to build up a table of letter frequencies in the encrypted text.
Assume that the string letters is already defined as
'abcdefghijklmnopqrstuvwxyz'. Write a function called frequencies()
that takes a string as its only parameter, and returns a list of integers, showing the
number of times each character appears in the text. Your function may ignore any
characters that are not in letters.
>>> frequencies('The quick red fox got bored and went home.')
[1, 1, 1, 3, 5, 1, 1, 2, 1, 0, 1, 0, 1, 2, 4, 0, 1, 2, 0, 2,
1, 0, 1, 1, 0, 0]
>>> frequencies('apple')

In [61]:
x='abcdefghijklmnopqrstuvwxyz'
alpha=list(x)

def frequencies(str):
    freq=[] 

    for i in alpha: 
        freq.append(str.count(i))
    print(freq)

frequencies('The quick red fox got bored and went home.')
frequencies('apple')


#I have tried several times to run this code but it is still showing the same error as "list object is not callable".
#I tried running the same code on online compiler as well and had shown the output also. But it's not shwoing here.

TypeError: 'list' object is not callable